<div class="row philosophy-content">
    <div class="large-9 columns about-us">
        {{!-- <img class="color-bar" src="/assets/color-bar.png"> --}}
    <img class="tab" src="/assets/leadership-tab.png">
    <p>
        <span class="first-line-caps">Eskridge & White Motion Therapy</span> <span class="line-blue">is dedicated to providing exceptional quality and care in our physical therapy services.</span> <span class="line-bigger">From injury prevention and rehabilitation to fitness and wellness, it is our goal to improve the quality of life and function of every patient.</span>
    </p>
    <div class="employee-block">
        <img class="bio-pic" src="/assets/mikeeskridge.png">
        <div class="title-bar">
            <h3 class="employee">mike eskridge <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <p>
        Mike graduated from the University of Alabama-Birmingham with a Bachelor of Science degree in Comprehensive Science. While at UAB Mike was on the Cross Country and Track teams from 1981-1983 and graduated Summa Cum Laude. He also received his Master of Science degree in Physical Therapy from UAB in 1992. He is an owner of Eskridge + White Motion Therapy which opened in 2000. His clinical specialties include manual therapy and treatment of mechanical dysfunctions in runners and triathletes. Mike has treated several semi-professional and Olympic level athletes in his clinic. He has over 25 marathons to his credit including winning the 1991 Vulcan Marathon. He currently enjoys distance running and mountain biking. Mike is married and lives in Birmingham.
    <p>
    <div class="employee-block">
        <img class="bio-pic" src="/assets/ethanwhite.png">
        <div class="title-bar">
            <h3 class="employee">ethan white <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <p>
        Ethan graduated from Auburn University in 1991 where he received a Bachelors of Science degree in Microbiology. While at Auburn, Ethan played baseball from 1986-1989. From Auburn Ethan went to the University of Alabama-Birmingham, where he received a Masters of Science degree in Physical Therapy in 1993. He is an owner of Eskridge + White Motion Therapy which opened in 2000. His clinical specialties are manual therapy and manual therapeutic exercise designed to restore functional movement patterns. Ethan especially enjoys treating athletic injuries. Throughout his career, he has treated professional and Olympic level athletes, runners, cyclists, triathletes, tennis players and golfers. He is currently a professional transporter for his three kids and all of their various activities. In his free time he enjoys mountain biking and snow skiing. Ethan is married, has three children and lives in Homewood, Alabama.
    <p>
    <div class="employee-block">
        <img class="bio-pic" src="/assets/jessedouglas.png">
        <div class="title-bar">
            <h3 class="employee">jesse douglas <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </p>
    <div class="employee-block">
        <img class="bio-pic" src="/assets/jondelk.png">
        <div class="title-bar">
            <h3 class="employee">jon delk <span class="title">ms pt</span></h3> 
        </div><!-- title-bar -->
    </div><!-- employee-block -->
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </p>
    </div>
    <div class="large-3 columns sidebar">
        {{partial 'about-sidebar'}}
    </div>
</div>
    